<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Feedback </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Add Feedback Details</h1>
    <form action="#" th:action="@{/addfeedback}" th:object="${feedback}" method="post">
        <!-- Feedback Name: <input type="text" th:field="*{user}" placeholder="Name" /> -->
        <input type="text" th:field="*{message}" placeholder="message" />
        <p><input type="submit" value="Submit" />

            <input type="reset" value="Reset" />
        </p>
    </form>
</body>

</html>