<!DOCTYPE>
<html xmlns:th="https://www.thymeleaf.org">



<!-- userprofile14:04-->

<head>
    <!-- Basic need -->
    <title>Movies DB</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" th:href="@{/#}">

    <!--Google Font-->
    <link rel="stylesheet" type="text/css"
        th:href="@{http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600}" />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <meta name="author" content="Jayvir Rathi">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body>

    <h1>Result</h1>
    <!--<div th:if="${not #lists.isEmpty(users)}">  -->

    <table>
        <tr>
            <th>CITY</th>
            <th>COUNTRY</th>
            <th>DOB</th>
            <th>EMAIL</th>
            <th>FNAME</th>
            <th>LNAME</th>
            <th>PHONE</th>
            <th>STATE</th>


        </tr>
        <tr>
            <td th:text="${user.city}"></td>
            <td th:text="${user.country}"></td>
            <td th:text="${user.dob}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.fname}"></td>
            <td th:text="${user.lname}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.state}"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>RUNTIME</th>
            <th>RELEASE DATE</th>
            <th>CENSOR RATING</th>
            <th>BUDGET</th>
            <th>BOXOFFICE</th>
            <th>STORY</th>

        </tr>
        <tr th:each="movie : ${wishlistArray}">
            <td><a th:href="@{/movie?id={id}(id=${movie.id})}"> show details </a></td>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.runTime}"></td>
            <td th:text="${movie.releaseDate}"></td>
            <td th:text="${movie.censorRating}"></td>
            <td th:text="${movie.budget}"></td>
            <td th:text="${movie.boxOffice}"></td>
            <td th:text="${movie.story}"></td>
        </tr>
    </table>
</body>

</html>